.join {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f2f4;
}
.join h1 {
    width: 50%;
    text-align: center;
    font-size: 90px;
    margin-bottom: 40px;
}
.join h1 span {
    color: #48cae4;
}
.join p {
    font-size: 22px;
    margin-bottom: 100px;
}
.join a {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(25deg,#48cae4,#03045e);
    border: none;
    text-decoration: none;
    color: #f3f2f4;
    font-weight: 700;
    margin-bottom: 100px;
}

@media screen and (max-width:580px) {
    .join h1 {
        width: 70%;
        font-size: 60px;
    }
    .join p {
        width: 70%;
        text-align: center;
    }
}